* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {


}
.h1{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #e66465;
    background: linear-gradient(#9198e5, #caace8);
}
.main {
    font-family: Arial, sans-serif;

    height: 100vh;
    margin: auto;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}
.todo-list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 auto;
    flex-wrap: wrap;
    padding: 1rem;
}
.tooltip {
    visibility: hidden;
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

.todo-item {
    width: 25%;
    list-style: none;
    border: 1px solid dodgerblue;
    padding: 10px 10px;
    overflow: hidden;
    color: #000000;
    font-size: 20px;
    margin: 5px 10%;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
}
.container {
    padding: 20px;
}
.form-container {
    display: flex;
    justify-content: center;
}
.todo-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.todo-form input{
    width: 100%;
    padding: 5px;
    font-size: 30px;
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    background: #cacaca;
    color: #FFF;
}
.plus-btn {
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    margin: 13px 0 0 10px;
}
.modal-wrapper {
    display: none;
    background: rgba(255, 255, 255, .9);
    position: absolute;
    width: 600px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    z-index: 10;
}
.modal-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}
.modal-form input, button {
    margin: 5px 0;
}
.close-wrapper {
    display: flex;
    justify-content: flex-end;
}
.close-modal-btn {
    cursor: pointer;
    background: #ff2400;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
    font-size: 20px;
}
.overlay {
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
}
