* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.h1{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #e66465;
    background: linear-gradient(#9198e5, #caace8);
}
.main {
    font-family: Arial, sans-serif;
    width: 700px;
    height: auto;
    margin: auto;
    background: linear-gradient(#e66465, #9198e5);
}
.todo-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.todo-item {
    list-style: none;
    padding: 10px 0;
    color: #fff;
    font-size: 30px;
}
.container {
    padding: 20px;
}
.todo-form {
    padding: 10px;
}
.todo-form input{
    width: 100%;
    padding: 10px;
    font-size: 30px;
    border: 5px solid rgba(255, 255, 255, .5);
@include box-shadow(
0 2px 2px rgba(0, 0, 0, .25) inset,
0 2px 2px rgba(0, 0, 0, .25));
@include border-radius(10px);
    background: rgba(255, 255, 255, .5);
@include appearance(none);
    outline: none;
    color: #FFF;
}
